* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(39, 3, 3, 0.863);
    color: rgba(39, 3, 3, 0.863);
}

.container {
    background-color: rgb(214, 214, 214);
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
    padding: 15px;
    border-style: solid;
    border-color: rgb(255, 206, 149);
    border-radius: 10px;
}


form {
    margin-top: 40px;
}

input {
    display: block;
    padding: 8px;
    width: 100%;
    resize: none;
}

button {
    margin-top: 10px;
}
    
